@using SpinutechDemo.Controllers;

@{
    ViewData["Title"] = "Home Page";
}

@{
    <div class="text-center">
        <h1 class="display-4">Spinutech Demos</h1>
        <p><a href="/@DemosController.ControllerName/@nameof(DemosController.Palindrome)">Example 6: Palindrome</a></p>
    </div>
}
