@import "../Globals.scss";

$spacingPx: 10px;

#Palindrome {
	width: 100%;
	margin: $spacingPx auto;
	padding: $spacingPx;
	max-width: $tabletWidth;
	border: 1px solid black;

	form .fieldWrapper {
		display: block;

		input[type=text] {
			margin-bottom: $spacingPx;
			text-align: center;
		}

		input {
			width: 100%;
		}
	}

	#PalindromeResult {
		border: 1px solid black;
		padding: $spacingPx;
		margin-top: $spacingPx;

		&.error {
			border-color: red;
			background-color: rgba(255, 0, 0, 0.3);
		}

		&.success {
			border-color: green;
			background-color: rgba(0, 255, 0, 0.3);
		}
	}
}

@media screen and (min-width: $laptopWidth) {
	#Palindrome {
		max-width: $laptopWidth;

		form .fieldWrapper {
			display: flex;

			input[type=text] {
				width: 100%;
				margin-right: $spacingPx;
				margin-bottom: 0;
				text-align: left;
			}

			input[type=submit] {
				width: auto;
			}
		}
	}
}
